data/*
data/tensor_native/train_embeddings_epoch300.npy
data/tensor_native/umap_20d_nn80.npy
data/tensor_native/umap_2d_nn80.npy
!data/videos/
!data/tensor_ntu/
!data/tensor_ntu_old/
!data/tensor_native/
venv/
clip*.mp4
snfc/
plots/
__pycache__/
models/CrosSCLR/*.zip
.DS_Store
animations/*.blend
data/videos/train_*_*.mp4
data/videos/val_*_*.mp4
models/CrosSCLR/embeddings/*
data/