appnope==0.1.4
asttokens==3.0.1
attrs==25.4.0
backports.tarfile==1.2.0
backports.zstd==1.2.0
brotli==1.2.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
docutils==0.22.3
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.2
fonttools==4.61.0
fsspec==2025.12.0
h5py==3.15.1
hdbscan==0.8.41
id==1.5.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
inflate64==1.0.4
ipykernel==7.1.0
ipython==8.37.0
ipywidgets==8.1.8
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
keyring==25.7.0
kiwisolver==1.4.9
llvmlite==0.46.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplot==0.1.9
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
more-itertools==10.8.0
moviepy==2.2.1
mplsoccer==1.6.1
mpmath==1.3.0
multivolumefile==0.2.3
narwhals==2.15.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nh3==0.3.2
numba==0.63.1
numpy==2.2.6
opencv-python==4.12.0.88
orjson==3.11.4
packaging==25.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.5.0
plotly==6.5.1
proglog==0.1.12
prompt_toolkit==3.0.52
protobuf==6.33.2
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py7zr==1.0.0
pybcj==1.0.7
pycryptodomex==3.23.0
Pygments==2.19.2
pyloco==0.0.139
pynndescent==0.6.0
pyparsing==3.2.5
pyppmd==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
pyzmq==27.1.0
pyzstd==0.19.0
readme_renderer==44.0
referencing==0.37.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
rpds-py==0.30.0
scikit-learn==1.6.0
scipy==1.15.3
seaborn==0.13.2
setuptools==80.9.0
SimpleWebSocketServer==0.1.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tensorboardX==2.6.4
texttable==1.7.0
threadpoolctl==3.6.0
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
twine==6.2.0
typing==3.7.4.3
typing_extensions==4.15.0
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==2.5.0
ushlex==0.99.1
wcwidth==0.2.14
websocket-client==1.9.0
wheel==0.45.1
widgetsnbextension==4.0.15
zipp==3.23.0
